.container-for-canvases-show {
  margin: 50px 0px;
  height: 83vh;
}

.canvas-show-all {
  display: flex;
  background-color: white;
  color: black;
  padding: 24px 30px;
  min-height: 90vh;
}

.canvas-show-btns-canvas {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.canvas-show-btns {
  display: flex;
  flex-direction: column;
}

.canvas-show-btns p {
  margin-top: 15px;
}

.canvas-show-img-canvas {
  display: flex;
  margin-left: 20px;
}

.canvas-show-img {
  width: 45%;
  min-height: 380px;
  flex-shrink: 0;
  background-size: cover;
}

.canvas-show-canvas {
  background-color: #6c757c;
}

.canvas-show-bottom {
  display: flex;
}

.canvas-notes-container {
  background-color: white;
  color: black;
  padding: 5px 40px;
  font-weight: lighter;
  margin: 0 50px;
  min-width: 15vw;
  min-height: 10vh;
  max-height: 25vh;
}

.canvas-name {
  background-color: white;
  color: black;
  padding: 5px 40px;
  margin: 0 50px;
  min-width: 15vw;
  max-height: 10vh;
}
.was-validated .form-control:valid,
.form-control.is-valid {
  background-image: none !important;
  border-radius: 0px !important;
  border: 1px solid black !important;
}

.background-grey-flex svg {
  max-width: 40vw;
  max-height: 40vh;
}

.background-grey-flex {
  background: lightgrey;
  max-width: 40vw;
  max-height: 40vh;
  padding: 0px;
  align-self: center;
}

.canvas-photo {
  max-width: 40vw;
  max-height: 40vh;
  align-self: center;
}

.btn-menu {
  align-self: center;
}

.photo-preview-size {
  max-width: 200px;
  max-height: 200px;
}

.canvas-save-btn {
  margin: 0 auto;
  display: block;
}

.canvas-upload-photo {
  font-weight: bolder;
}
