.cont {
  width: 90vw;
  margin: auto;
  font-family: 'Roboto', 'sans-serif';
}

#canvas {
  background: #e9e9e9;
  border: thin inset #aaaaaa;
  width: 800px;
  height: 600px;
  justify-self: end;
}

.canvas-container {
  float: right;
}

// BUTTONS
.nav_btn {
  width: 120px;
  height: 46px;
  padding: 5px;
  color: #303030;
  background: #e9e9e9;
  border-bottom: 0.5px solid black;
  font-size: 14px;
  text-align: center;
}

.crud-btn {
  font-size: 24px;
  color: #c4c4c4;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

// DROPDOWN

.drop:hover .drop-content {
  visibility: visible;
  opacity: 1;
  display: block;
}

.drop-content {
  width: 100px;
  float: right;
  visibility: hidden;
  display: block;
  position: absolute;
  margin-left: 77px;
  margin-top: -42px;
}

.drop-content li {
  list-style-type: none;
  width: 120px;
  height: 46px;
  color: #303030;
  background: #e9e9e9;
  border-bottom: 0.5px solid black;
  font-size: 14px;
  text-align: center;
}
