.thumb-index {
  width: 340px;
  height: 187px;
}

.canvases-container {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between + safe;
  align-content: align-content;
}

.card-container {
  margin-top: 20px;
  margin-bottom: 20px;
  position: relative;
  width: 340px;
  height: 190px;
  perspective: 600;
}

.card-canvas {
  position: relative;
  transition: all 0.7s linear;
  transform-style: preserve-3d;
}

.card-canvas .face#upside {
  position: absolute;
  backface-visibility: hidden;
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-content: center;
}

.card-canvas .face#downside {
  transform: rotateY(180deg);
  height: 100%;
  backface-visibility: hidden;
}
#render-svg {
  border: 0.5px solid black;
}

#add-canvas {
  position: relative;
  width: 335px;
  height: 188px;
  margin-top: 20px;
}

#add-canvas img {
    width: 335px;
  height: 190px;
}

.nav_btn a {
  color: #303030;
  text-decoration: inherit;
}

.nav_btn i {
  font-size: 12px;
}

//CONTROLS ON THE CANVAS CARD

#render-svg svg {
  width: 340px;
  height: 189px;
  position: relative;
}

.controls {
  position: absolute;
  top: 189px;
  left: 252px;
  list-style-type: none;
  background-color: #303030;
  opacity: 0;
  z-index: 1000;
  padding: 3px;
}

.controls i {
  color: white;
  opacity: 0.5;
  display: inline;
  font-size: 18px;
  padding: 8px;
  z-index: 100;
}

// HOVER IVENTS

.controls i:hover {
  opacity: 1;
}

.card-container:hover .card-canvas {
  transform: rotateY(180deg);
}
.card-container:hover .controls {
  opacity: 1;
  transition: 0.5s;
  transition-delay: 0.6s;
}

// TOOLTIP

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  font-size: 8px;
  font-family: 'Roboto', sans-serif;
  visibility: hidden;
  width: 120px;
  background-color: black;
  opacity: 0.3;
  color: #fff;
  text-align: center;
  border-radius: 0px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltip-new-canvas {
  position: relative;
  display: inline-block;
  //border-bottom: 1px dotted black;
}

.tooltip-new-canvas .tooltiptext {
  visibility: hidden;
  width: 180px;
  background-color: white;
  opacity: 0.5;
  color: black;
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  font-size: 12px;
  text-align: center;
  border-radius: 0px;
  padding: 2px 0;
  bottom: 100%;
  left: 50%;
  margin-left: -12.5px;
  position: absolute;
  z-index: 1;
}

.tooltip-new-canvas:hover .tooltiptext {
  visibility: visible;
}
