.thumb-index {
  width: 340px;
  height: 187px;
}

.card-container a {
  width: 340px;
  height: 190px;
  margin-top: 15px;
}

.card-container {
  margin-top: 10px;
  position: relative;
  width: 340px;
  height: 190px;
  perspective: 600;
  display: flex;
}
.card-canvas {
  position: relative;
  height: 100%;
  width: 100%;
  transition: all 0.7s linear;
  transform-style: preserve-3d;
}

.card-canvas .face#upside {
  position: absolute;
  backface-visibility: hidden;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.card-canvas .face#downside {
  transform: rotateY(180deg);
  height: 100%;
  backface-visibility: hidden;
  border: 1px solid black;
}

.canvases-container {
  margin-top: 10px;
}

#add-canvas {
  position: relative;
  width: 335px;
  height: 187px;
  margin-top: 25px;
}

.nav_btn a {
  color: #303030;
  text-decoration: inherit;
}

.nav_btn i {
  font-size: 12px;
}

//CONTROLS ON THE CANVAS CARD

#render-svg svg {
  width: 340px;
  height: 187px;
  position: relative;
}

.controls {
  position: absolute;
  top: 175px;
  left: 244px;
  list-style-type: none;
  background-color: #303030;
  opacity: 0;
  z-index: 1000;
  padding: 3px;
}

.controls i {
  color: white;
  opacity: 0.5;
  display: inline;
  font-size: 18px;
  padding: 8px;
  z-index: 100;
}

// HOVER IVENTS

.controls i:hover {
  opacity: 1;
}

.card-container:hover .card-canvas {
  transform: rotateY(180deg);
}
.card-container:hover .controls {
  opacity: 1;
  transition: 0.5s;
  transition-delay: 0.6s;
}

// TOOLTIP

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  font-size: 8px;
  font-family: 'Roboto', sans-serif;
  visibility: hidden;
  width: 120px;
  background-color: black;
  opacity: 0.3;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
