// body {
//   background-color: black;
// }

#main-screen {
  background-color: white;
}

.card-canvas {
  margin-bottom: 18px;
  margin-right: 20px;
  overflow: hidden;
  background: #C4C4C4;
  border: 2px solid black;
  display: flex;
}

// .card-canvas:last-of-type {
//   margin:0;
// }

.prj-btns-canvas-descr {
  background-color: white;
  padding: 30px;
  margin: 50px;
  width: 100%;
}

.prj-btns-canvas {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}

.prj-canvas {
  // display: flex;
  // flex-direction: row;
  padding-right: 50px;
}

.prj-btns {
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.prj-descr {
  display:flex;
  flex-direction: column;
  margin-top: 30px;
  margin-bottom: 78px;
}
