<div class="row">
  <div class="center">
    <div class="crud-box">
      <div class="end">
      <p><span style="font-weight:bold;">LITE-IT</span> is an application made for photographers who are looking to record their studio set-ups for personal reference and to share with their teams.</p>
      </div>
    </div>
  </div>
</div>








