<!-- <div class="container">
  <div class="row">
    <div class="col-3 offset-5">
      <div class="crud-box">
 -->
<div class="helper-container">
  <div class="helper-right-side">
    <p class="helper-area">No Content</p>
    <p class="helper-area">No Content</p>
    <p class="btn-helper">
      LITE-IT is an application made for photographers who are looking to record their studio set-ups for personal reference and to share with their teams.
    </p>
    <p class="helper-area">No Content</p>
    <p class="helper-area">No Content</p>
  </div>
</div>

<!--       </div>
    </div>
  </div>
</div>
 -->
