
<div class="home-logo">

  <a class="home-only" href="#">
    <p class="main-intro">make shooting easy</p>
    <div class="logo-full">
    <p class="logo-main">LITE-IT</p>
    <div class="inner">
      <p></p>
      </div>
    </div>
  </a>
  </div>

