<div class="dashboard-container">
  <% if @projects.empty? %>
    <div class="waiting">
      <h4>Waiting for your first project!</h4>
    </div>

  <% else %>
    <ul id="projects">
      <%= render 'projects/index-partial', projects: @projects %>
    </ul>
  <% end %>
</div>


<%= content_for(:after_js) do  %>
<%= javascript_pack_tag("sorting") %>
<% end %>
