<div class="container">
  <div class="row">
    <div class="col-2 offset-5">
      <h1>New Project</h1>

      <%= render 'form', project: @project %>

      <hr>
      <%= link_to "Back to list", projects_path %>
    </div>
  </div>
</div>
