.crud-box {
  display: flex;
  background-color: white;
  color: black;
  padding: 16px;
  font-family: Roboto;
  font-weight: 200;
  height: 600px;
}

.new_project {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.edit_project {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
