<div class="container">
  <div class="row">
    <div class="canvas-container">
      <canvas id="canvas" width="1000px" height="600px" data-canvas-json="<%= @canvas.state_json %>" ></canvas>
    </div>
  </div>
</div>
<%= javascript_pack_tag 'canvas-show' %>