<%= render 'canvases/form', canvas: @canvas %>

<div class="canvas-notes-container">

   <%= render 'canvases/note', canvas: @canvas %>
</div>



<script>
  let button = document.getElementById("btn_add_notes");
  button.addEventListener("click", () => {

    let notesDiv = document.querySelector(".canvas-notes-container");
    notesDiv.innerHTML = " <%= j render 'canvases/note_form', canvas: @canvas %>"
})
</script>
