.crud-box {
  display: flex;
  background-color: white;
  color: black;
  padding: 16px;
  font-weight: 200;
  height: 600px;
  justify-content: center;
}

.new_project, .edit_project, .new_user {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
}

.center {
  width: 19.5%;
  margin: auto;
}

.right {
  display:flex;
  width: 20%;
  float: right;
}

.login {
  margin-left: 60%;
  margin-right: 20%;
}
