.crud-box {
  display: flex;
  background-color: white;
  color: black;
  padding: 16px;
  font-family: Roboto;
  font-weight: 200;
  height: 600px;
  justify-content: center;
}

.new_project, .edit_project, .new_user {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
}

