.crud-box {
  display: flex;
  background-color: white;
  color: black;
  padding: 16px;
  font-weight: 200;
  height: 750px;
  justify-content: center;
}

.new_project, .edit_project, .new_user {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
}

.center {
  width: 19.5%;
  margin: auto;
  height: 80vh;
}

.sign_up {
  align-items: flex-end;
  width: 20%;
  float: right;
  height: 80vh;
}

.login {
  align-items: flex-end;
  margin-left: 60%;
  margin-right: 20%;
  height: 80vh;
}

.about {
  display: flex;
  align-items: flex-end;
  padding-bottom: 96px;
  width: 19.5%;
  margin: auto;
  height: 80vh;
  text-align: justify;
}

.about p {
  font-weight: lighter;
  padding-left: 12px;
  padding-right: 12px;
}



